<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      id="name"
      placeholder="Name"
      maxlength="100"
    />
  </div>
  <div class="form-control">
    <label for="age">Age</label>
    <input
      type="number"
      name="age"
      [(ngModel)]="age"
      id="age"
      placeholder="Age"
      [max]=125
    />
  </div>
  
  <div class="form-control form-control-check">
    <label>Are you a student?</label>
    <input
      type="radio"
      name="student"
      [(ngModel)]="student"
      value="yes"
      id="studentYes"
    />
    <label for="studentYes">Yes</label>
    <input
      type="radio"
      name="student"
      [(ngModel)]="student"
      value="no"
      id="studentNo"
    />
    <label for="studentNo">No</label>
  </div>

  <div *ngIf="student === 'yes'" class="form-control">
    <label for="school">What's your school?</label>
    <input
      type="text"
      name="school"
      [(ngModel)]="school"
      id= "school"
      placeholder="Enter your college..."
    />
  </div>

  <input type="submit" value="Add Submit" class="btn btn-block" />
</form>
